{% extends "base.html" %}
{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ post.thumbnail.url }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ post.title }}</h1>
            <h2 class="subheading">{{ post.overview }}</h2>
            <span class="meta">Posted by
              <a href="#">{{ post.author.user.username }}</a>
              on {{ post.created_on|date:"F j, Y" }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-md-12 mx-auto">

          {{ post.content | safe }}

        
          <div class="row">
            <div class="col-10 mx-auto">
              <div class="row">

                <div class="col-md-6">
                  {% if previous_post %}
                  <a href="{% url 'post-detail' previous_post.slug %}" class="text-left-prev">
                    <div class="text">
                      <strong class="arrow-color">
                        <i class="fa fa-arrow-left"></i> Previous post
                      </strong>
                      <h6>{{ previous_post }}</h6>
                    </div>
                  </a>
                  {% endif %}
                </div>

                <div class="col-md-6 text-right">
                  {% if next_post %}
                  <a href="{% url 'post-detail' next_post.slug %}" class="text-right-prev">
                    <div class="text">
                      <strong class="arrow-color">Next Post <i class="fa fa-arrow-right "></i></strong>
                      <h6>{{ next_post }}</h6>
                    </div>
                  </a>
                  {% endif %}
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  
  <hr>


{% endblock content %}
