/* your styles go here */

.text-left-prev
{
	text-align: left;
}


.text-right-prev
{
	text-align: right;
}

.arrow-color
{
	color: black;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.flex-even {
  flex: 1 1 0px;
  border: 1px solid black;
}

.poscomm {

flex: 0 0 100%;
max-width: 100%;
}