/* your styles go here */

.text-left-prev
{
	text-align: left;
}


.text-right-prev
{
	text-align: right;
}

.arrow-color
{
	color: black;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.flex-even {
  flex: 1 1 0px;
  border: 1px solid black;
}

.poscomm {

flex: 0 0 100%;
max-width: 100%;
}


.g-recaptcha {
	padding-top: 20px;
}


/* FOOTER */
@font-face {
	font-family:"footerFont";
	src:
	url("/static/fonts/Sansation_Light.eot?") format("eot"),
	url("/static/fonts/Sansation_Light.woff") format("woff"),
	url("/static/fonts/Sansation_Light.ttf") format("truetype"),
	url("/static/fonts/Sansation_Light.svg#SansationLight") format("svg");
	font-weight:600;
}


.site-footer {
	padding-top: 20px;
	padding-bottom: 30px;
    background-color: #030100;
    font-family: footerFont;
    
    
}

.spacer {
	height: 40px;
}

